{% extends 'base.html.twig' %}

{% block body %}
    <h1>Create a New Message</h1>

    {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
        {{ form_widget(form) }}
        <button type="submit">Send Message</button>
    {{ form_end(form) }}
{% endblock %}
